{{ if .Site.Params.usedothings }}
<section>
    <div class="do-things text-center bg-white" id="do-things">
        <div class="container">
            <div class="things-i-do text-primary py-3 font-weight-bold">
                Books I've Written
            </div>

            <div class="do-things-card">
                <div class="row pb-2 justify-content-center">
                    {{ range .Site.Params.Things }}
                    <!-- Thing 1 -->
                    <div class="col-lg-3 col-md-4">
                        <div class="things shadow rounded p-4 my-2 mb-4">
                            <img src="/images/{{ .cover }}" width="85%" height="85%" alt="{{ .title }}" class="rounded">
                            <div class="book-title p-2 font-weight-bold">
                                {{ .title }}
                            </div>
                            <div class="py-4 things-text">
                                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.1.0/icons/amazon.svg" alt="amazon" height="22" width="22" />
                                <a href="{{ .url }}">{{ .description }}</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
