{{ define "main" -}}
<main>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom pb-2 mb-0">Post Entries</h5>
        {{ range .Paginator.Pages }}
        <div class="d-flex text-muted pt-3">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                  <h6><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
                  <strong class="text-gray-dark">{{ dateFormat "Jan 02, 2006" .Date }}</strong>
                </div>
                <div class="d-block text-truncate">{{ .Summary }}</div>
            </div>
        </div>
        {{ end }}
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="pagination">{{ template "_internal/pagination.html" . }}</div>
    </div>

</main>
{{ end }}