<div class="jumbotron p-4 p-md-3 rounded bg-light">
    <div class="row p-4 border shadow-sm">
        <div class="col-3 px-4">
            <div class="row mb-2">
                <div class="col">
                {{ if .Site.Params.profile_image }}
                    <img src="{{ .Site.Params.profile_image }}" class="img-thumbnail" width="200" height="200" alt="{{ .Site.Params.name }}"
                        class="rounded">
                {{ end }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="social px-3">
                        {{ if .Site.Params.github }}
                        <a class="text-dark" href="{{ .Site.Params.github }}" aria-label="github">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/github.svg" alt="github" height="22" width="22" />
                        </a>
                        {{ end }}
                        {{ if .Site.Params.linkedin }}
                        <a class="text-white" href="{{ .Site.Params.linkedin }}" aria-label="linkedin">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/linkedin.svg" alt="linkedin" height="22" width="22" />
                        </a>

                        {{ end }}

                        {{ if .Site.Params.twitter }}
                        <a class="text-info" href="{{ .Site.Params.twitter }}" aria-label="twitter">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/twitter.svg" alt="twitter" height="22" width="22" />
                        </a>
                        {{ end }}

                        {{ if .Site.Params.instagram }}
                        <a class="text-danger" href="{{ .Site.Params.instagram }}" aria-label="instagram">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/instagram.svg" alt="instagram" height="22" width="22" />
                        </a>
                        {{ end }}

                        {{ if .Site.Params.amazon }}
                        <a class="text-info" href="{{ .Site.Params.amazon }}" aria-label="amazon">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/amazon.svg" alt="amazon" height="22" width="22" />
                        </a>
                        {{ end }}

                        {{ if .Site.Params.goodreads }}
                        <a class="text-info" href="{{ .Site.Params.goodreads }}" aria-label="goodreads">
                            <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/goodreads.svg" alt="goodreads" height="22" width="22" />
                        </a>
                        {{ end }}    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 px-0">
            <h1 class="display-4 font-italic">
                {{ if .Site.Params.name }}
                {{ .Site.Params.name }}
                {{ end }}
            </h1>
            <p class="lead my-3">
                {{ if .Site.Params.describe_l1_person }}
                {{ .Site.Params.describe_l1_person }}
                {{ end }}
            </p>
            <p class="lead my-3">
                {{ if .Site.Params.describe_l2_person }}
                {{ .Site.Params.describe_l2_person }}
                {{ end }}
            </p>
        </div>
    </div>
</div>
