<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Book</strong>
            <h4 class="mb-0">I. C. Q.</h4>
            <div class="mb-1 text-muted">Feb 09, 2021</div>
            <p class="card-text mb-auto">
                Before there were dating apps, people met online on AOL and ICQ!
                </p>
            <a href="https://www.amazon.com/dp/B08THVG8YY/" class="btn btn-success stretched-link">Buy Online</a>
          </div>
          <div class="col-auto p-2 d-none d-lg-block">
              <img src="/images/bookcover2.jpeg" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Book</strong>
          <h4 class="mb-0">Software Quality Engineering</h4>
          <div class="mb-1 text-muted">Mar 16, 2019</div>
          <p class="card-text mb-auto">
              My personal journey to become a Software Quality Engineer.
              </p>
          <a href="https://www.amazon.com/gp/product/B07PN1GZMM" class="btn btn-success stretched-link">Buy Online</a>
        </div>
        <div class="col-auto p-2 d-none d-lg-block">
            <img src="/images/bookcover1.png" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Book</strong>
            <h4 class="mb-0">The Big Score</h4>
            <div class="mb-1 text-muted">May 2021</div>
            <p class="card-text mb-auto">
                My personal journey to become a Software Quality Engineer.
                </p>
            <a href="#" class="btn btn-secondary stretched-link">Coming Soon</a>
          </div>
          <div class="col-auto p-2 d-none d-lg-block">
              <img src="/images/bookcover3.jpeg" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
          </div>
        </div>
    </div>  
  </div>