<div class="row no-gutters border rounded mb-4 shadow-sm">
    <div class="col p-4">
        <h4 class="mb-0">O Grande Desafio</h4>
        <div class="mb-1 text-muted">2022</div>
        <p>
            Neste livro rápido, engraçado e cativante, Og Maciel brilhantemente captura o fora da lei que vive
            detrás de cada adolescente, além da sedução — e o ocasional coração partido — de se arriscar e
            quebrar as regras.
            <a href="https://www.amazon.com.br/gp/product/6589851948/" target="_blank">(Saiba mais)</a>
        </p>
    </div>
    <div class="col-auto p-2">
        <img src="/images/bookcover4.jpg" class="img-thumbnail" width="150" height="200"
             alt="O Grande Desafio" class="rounded">
    </div>
</div>

<div class="row no-gutters border rounded mb-4 shadow-sm">
    <div class="col p-4">
        <h4 class="mb-0">ICQ: Um romance de internet</h4>
        <div class="mb-1 text-muted">2022</div>
        <p>
            Situado no mundo emergente da comunicação virtual dos anos 90, ICQ: Um romance de internet conta a
            história de amor de Auggie e Clarissa, que se conhecem por acaso em um bate-papo online e
            rapidamente se envolvem romanticamente.
            <a href="https://www.editorainverso.com.br/pagina-de-produto/icq-um-romance-de-internet"
               target="_blank">(Saiba mais)</a>
        </p>
    </div>
    <div class="col-auto p-2">
        <img src="/images/bookcover5.jpg" class="img-thumbnail" width="150" height="200"
             alt="ICQ: Um romance de internet" class="rounded">
    </div>
</div>
