<div class="row mb-2 justify-content-md-center">
    <div class="col-md-8 p-3">
        <div class="row no-gutters">
            <h1 class="display-4 font-italic">Books</h1>
            <p class="lead my-3">I wrote and self-published a few books.</p>
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">The Big Score</h4>
                <div class="mb-1 text-muted">Oct 12, 2021</div>
                <p>
                    Friendships and alliances will be tested during a challenge to see who is the best car emblem thief
                    in town. <a href="/thebigscore/">(More)</a>
                </p>
                <p>
                    ISBN: 978-1-7360113-3-1 (eBook)
                </p>
                <p>
                    ISBN: 978-1-7360113-4-8 (hardcover)
                </p>
                <div class="row justify-content-center mb-2">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order it now:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item"
                                href="https://www.barnesandnoble.com/w/the-big-score-og-maciel/1140049879"
                                target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/barnes-and-noble-de30be843ec71865ced193346f789372.jpg"><span>Buy
                                    on <span>Barnes &amp; Noble</span></span></a>
                            <a class="dropdown-item" href="https://www.amazon.com/dp/1736011340/" target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/amazon-b0d8088f131a1d18f58f122a27022420.png"><span>Buy
                                    on <span>Amazon</span></span></a>
                            <a class="dropdown-item" href="https://books.apple.com/us/book/the-big-score/id1582738034"
                                target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/apple-1c7dfa4703959c1b0b58d3827e1f989d.png"><span>Buy
                                    on <span>Apple Books</span></span>
                                Books</a>
                            <a class="dropdown-item" href="https://www.kobo.com/us/en/ebook/the-big-score-5/"
                                target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/kobo-fc85751bb8738720f80f3c915134e3c7.jpg"><span>Buy
                                    on <span>Kobo</span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover3.jpg" class="img-thumbnail" width="150" height="200"
                    alt="Software Quality Engineering" class="rounded">
            </div>
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">I. C. Q.</h4>
                <div class="mb-1 text-muted">Feb 09, 2021</div>
                <p>
                    Before there were dating apps, people met online on AOL and ICQ!
                </p>
                <p>
                    ISBN: 978-1-7360113-0-0 (ebook)
                </p>
                <p>
                    ISBN: 978-1-7360113-1-7 (paperback)
                </p>
                <div class="row justify-content-center mb-2">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order it now:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="https://www.barnesandnoble.com/w/icq-og-maciel/1138995218"
                                target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/barnes-and-noble-de30be843ec71865ced193346f789372.jpg"><span>Buy
                                    on <span>Barnes &amp; Noble</span></span></a>
                            <a class="dropdown-item" href="https://www.amazon.com/gp/product/B08THVG8YY/"
                                target="_blank"><img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/amazon-b0d8088f131a1d18f58f122a27022420.png"><span>Buy
                                    on <span>Amazon</span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover2.jpeg" class="img-thumbnail" width="150" height="200"
                    alt="Software Quality Engineering" class="rounded">
            </div>
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">Software Quality Engineering</h4>
                <div class="mb-1 text-muted">Mar 16, 2019</div>
                <p>
                    My personal journey to become a Software Quality Engineer.
                </p>
                <p>
                    ISBN: 978-1-0912113-8-4
                </p>
                <div class="row justify-content-center mb-2">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop3" type="button" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order it now:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="https://www.amazon.com/gp/product/B09274CN22/"
                                target="_blank">
                                <img
                                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/amazon-b0d8088f131a1d18f58f122a27022420.png"><span>Buy
                                    on <span>Amazon</span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover1.png" class="img-thumbnail" width="150" height="200"
                    alt="Software Quality Engineering" class="rounded">
            </div>
        </div>
    </div>
</div>