<div class="row no-gutters border rounded mb-4 shadow-sm">
    <div class="col p-4">
        <h4 class="mb-0">The Big Score</h4>
        <div class="mb-1 text-muted">Oct 12, 2021</div>
        <p>
            Friendships and alliances will be tested during a challenge to see who is the best car emblem thief
            in town.
            <a href="https://www.amazon.com/dp/1736011340/" target="_blank">(More)</a>
        </p>
    </div>
    <div class="col-auto p-2">
        <img src="/images/bookcover3.jpg" class="img-thumbnail" width="150" height="200"
             alt="The Big Score" class="rounded">
    </div>
</div>

<div class="row no-gutters border rounded mb-4 shadow-sm">
    <div class="col p-4">
        <h4 class="mb-0">I. C. Q.</h4>
        <div class="mb-1 text-muted">Feb 09, 2021</div>
        <p>
            Before there were dating apps, people met online on AOL and ICQ!
            <a href="https://www.amazon.com/gp/product/B08THVG8YY/" target="_blank">(More)</a>
        </p>
    </div>
    <div class="col-auto p-2">
        <img src="/images/bookcover2.jpeg" class="img-thumbnail" width="150" height="200"
             alt="I. C. Q." class="rounded">
    </div>
</div>


<div class="row no-gutters border rounded mb-4 shadow-sm">
    <div class="col p-4">
        <h4 class="mb-0">Software Quality Engineering</h4>
        <div class="mb-1 text-muted">Mar 16, 2019</div>
        <p>
            My personal journey to become a Software Quality Engineer.
        </p>
        <a href="https://www.amazon.com/gp/product/B09274CN22/" target="_blank">(More)</a>
    </div>
    <div class="col-auto p-2">
        <img src="/images/bookcover1.png" class="img-thumbnail" width="150" height="200"
             alt="Software Quality Engineering" class="rounded">
    </div>
</div>
