<div class="row mb-2 justify-content-md-center">
    <div class="col-md-8 p-3">
        <div class="row no-gutters">
            <h1 class="display-4 font-italic">Books</h1>
            <p class="lead my-3">I wrote and self-published a few books.</p>
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">The Big Score</h4>
                <div class="mb-1 text-muted">Oct 12, 2021</div>
                <p>
                    Friendships and alliances will be tested during a challenge to see who is the best car emblem thief in town.
                </p>
                <p>
                    ISBN: 978-1-7360113-3-1
                </p>
                <a href="#" class="btn btn-secondary">Coming Soon</a>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover3.jpg" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
            </div>        
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">I. C. Q.</h4>
                <div class="mb-1 text-muted">Feb 09, 2021</div>
                <p>
                    Before there were dating apps, people met online on AOL and ICQ!
                </p>
                <p>
                    ISBN: 978-1-7360113-0-0 (ebook)
                </p>
                <p>
                    ISBN: 978-1-7360113-1-7 (paperback)
                </p>
                <a href="https://www.amazon.com/dp/B08THVG8YY/" class="btn btn-success">Buy Online</a>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover2.jpeg" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
            </div>        
        </div>
        <div class="row no-gutters border rounded mb-4 shadow-sm">
            <div class="col p-4">
                <h4 class="mb-0">Software Quality Engineering</h4>
                <div class="mb-1 text-muted">Mar 16, 2019</div>
                <p>
                    My personal journey to become a Software Quality Engineer.
                </p>
                <p>
                    ISBN: 978-1-0912113-8-4
                </p>
                <a href="https://www.amazon.com/dp/B09274CN22" class="btn btn-success">Buy Online</a>
            </div>
            <div class="col-auto p-2">
                <img src="/images/bookcover1.png" class="img-thumbnail" width="150" height="200" alt="Software Quality Engineering" class="rounded">
            </div>        
        </div>
    </div>
</div>
