<div class="jumbotron p-4 p-md-3 rounded bg-light">
    <div class="row p-4 border shadow-sm">
        <div class="col-md-3 px-0">
            <div class="row justify-content-center mb-2">
                <img src="/images/bookcover2.jpeg" width="200" alt="I.C.Q. front cover" class="rounded">
            </div>
            {{- partial "purchase_icq.html" . -}}
        </div>
        <div class="col-md-9 px-0">
            <h1 class="display-4 font-italic">I.C.Q. - A Novel</h1>
            <p class="lead my-3">
                Auggie Benson is a high school senior from Northern New Jersey who freelances as a software developer
                and hacker after school. When he expands his clientele from AOL to I.C.Q. users, he meets Clarissa, a
                senior from a nearby high school.
            </p>
            <p class="lead my-3">
                Communicating exclusively through the new I.C.Q. platform, Auggie and Clarissa quickly become
                romantically entangled and learn to navigate the ups and downs of an online romance -- a romance that is
                cut short, as Clarissa receives an unexpected graduation present from her parents and leaves for Europe.
                They write to each other often but there's just one problem: Clarissa never sees Auggie's letters until
                the end of her trip. <strong>Can their relationship survive?</strong>
            </p>
            <p class="lead my-3">
                Set in the emerging world of fast-paced internet communication, this romance will not only have you at
                the edge of your seat, wondering what will become of Auggie and Clarissa, but will also delight you with
                its evocation of the music, popular culture, and topsy-turvy dating landscape of the 90s.
            </p>
        </div>
    </div>
</div>