<div class="row mb-2 justify-content-md-center">
    <div class="col-md-8 p-3">
        <div class="row no-gutters">
            <p class="lead my-3">I have written a few books.</p>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <!-- Potentializer -->
                <div class="row no-gutters border rounded mb-4 shadow-sm">
                    <div class="col p-4">
                        <h4 class="mb-0">Potentializer</h4>
                        <p>
                            Potentializer is a simple, HTML-based talent management tool that allows managers to categorize team members across a 9-box grid based on performance and growth potential.
                            <a href="https://github.com/omaciel/Potentializer" target="_blank">(More)</a>
                        </p>
                    </div>
                    <div class="col-auto p-2">
                        <img src="https://github.com/omaciel/Potentializer/raw/main/potentializer.png" class="img-thumbnail" width="150" height="200"
                            alt="Potentializer Screenshot" class="rounded">
                    </div>
                </div>
                <!-- Capacitator -->
                <div class="row no-gutters border rounded mb-4 shadow-sm">
                    <div class="col p-4">
                        <h4 class="mb-0">Capacitator</h4>
                        <p>
                            Capacitator helps Agile teams calculate their sprint capacity by considering working days, team size, and reserved capacity for other duties.
                            <a href="https://github.com/omaciel/capacitator" target="_blank">(More)</a>
                        </p>
                    </div>
                    <div class="col-auto p-2">
                        <img src="/images/capacitator.png" class="img-thumbnail" width="150" height="200"
                            alt="Capacitator Screenshot" class="rounded">
                    </div>
                </div>

                <!-- Owlify -->
                <div class="row no-gutters border rounded mb-4 shadow-sm">
                    <div class="col p-4">
                        <h4 class="mb-0">Owlify</h4>
                        <p>
                            Owlify is a command-line tool that simplifies fetching and formatting of JIRA issue data for easier reporting and visualization.
                            <a href="https://github.com/Morfo-si/owlify" target="_blank">(More)</a>
                        </p>
                    </div>
                    <div class="col-auto p-2">
                        <img src="/images/owlify.png" class="img-thumbnail" width="150" height="200"
                            alt="Owlify Screenshot" class="rounded">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>