<div class="row justify-content-center mb-2">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Order it now
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="https://www.amazon.com/gp/product/B09274CN22/" target="_blank">
                <img
                    src="https://assets-cdn.reedsy.com/discovery/packs/media/assets/stores/amazon-b0d8088f131a1d18f58f122a27022420.png"><span>Buy
                    on <span>Amazon</span></span></a>
        </div>
    </div>
</div>