<div class="row mb-2">
    <div class="col">
        <div class="social px-3">
            <a class="text-dark" href="{{ .Site.Params.github }}" aria-label="github">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/github.svg" alt="github" height="22" width="22" />
            </a>
            <a class="text-white" href="{{ .Site.Params.linkedin }}" aria-label="linkedin">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/linkedin.svg" alt="linkedin" height="22" width="22" />
            </a>

            <a class="text-info" href="{{ .Site.Params.twitter }}" aria-label="twitter">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/twitter.svg" alt="twitter" height="22" width="22" />
            </a>

            <a class="text-danger" href="{{ .Site.Params.instagram }}" aria-label="instagram">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/instagram.svg" alt="instagram" height="22" width="22" />
            </a>

            <a class="text-info" href="{{ .Site.Params.amazon }}" aria-label="amazon">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/amazon.svg" alt="amazon" height="22" width="22" />
            </a>

            <a class="text-info" href="{{ .Site.Params.goodreads }}" aria-label="goodreads">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@4.9.0/icons/goodreads.svg" alt="goodreads" height="22" width="22" />
            </a>

        </div>
    </div>
</div>
