<div class="jumbotron p-4 p-md-3 rounded bg-light">
    <div class="row p-4 border shadow-sm">
        <div class="col-md-3 px-0">
            <div class="row mb-2">
                <img src="/images/bookcover3.jpg" width="200" alt="The Big Score front cover" class="rounded">
            </div>
            <div class="row mb-2">
                <p class="lead my-1">
                    Order it now:
                <ul>
                    <li><a href="https://www.barnesandnoble.com/w/the-big-score-og-maciel/1140049879">Barnes and
                            Noble</a></li>
                    <li><a href="https://www.amazon.com/dp/1736011340/">Amazon</a></li>
                    <li><a href="https://books.apple.com/us/book/the-big-score/id1582738034">Apple Books</a></li>
                    <li><a href="https://www.kobo.com/us/en/ebook/the-big-score-5/">Kobo</a></li>
                </ul>
                </p>
            </div>
        </div>
        <div class="col-md-9 px-0">
            <h1 class="display-4 font-italic">The Big Score</h1>
            <p class="lead my-3 font-italic">
                “I just moved here and the other day I was talking
                to my cousin about what you do. You know? The thing
                with the cars? Hannah told me about the thrill of
                it, and to tell you the truth, I got really
                curious about it... and I was wondering if you
                could show me how to do it?”
            </p>
            <p class="lead my-3">
                When Kate, a 17 year-old skateboarder from Hawaii, moves to New Bern, a sleepy town in North Carolina,
                the last thing she expects to happen is that she will become involved with a band of thieves. But when
                she meets Abby and Torres, seniors at New Bern High, and learns of their “harvesting” business, she does
                all she can to convince them to teach her the ropes and let her join their gang.
            </p>
            <p class="lead my-3">
                But Torres and Abby, once best friends, have been at odds lately, trying to outdo each other and prove
                their skills as emblem thieves. And now with Kate as a pupil - and helper - Torres and Abby are
                determined to establish themselves as the best thief in town and settle, once and for all, <spen
                    class="text-dark">The Big Score</spen>!
            </p>
            <p class="lead my-3">
                In this fast-paced, funny, and utterly relatable novel, Og Maciel brilliantly captures the outlaw that
                lurks behind every teenager and  the allure -- and occasional heartache -- of taking risks and breaking
                the rules.
            </p>
        </div>
    </div>
</div>